/*
    Author: Alex Contreras
    Project: Code Assessment
    Deadline: 17 May, 2022 
*/

/****************************************

01.variables
02.general
03.components
04.custom

*****************************************/

//01. Variables
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
$bg-body: #f1f1f1;
$color-body: #252d31;
$primary-font: 'Montserrat', sans-serif;
$card-width: 560px;
$border-color: #F0F0F0;
$border-color-focus: #ff8200;
$primary-color: #ff8200;
$pp-dark-blue: #06466e;
$pp-blue: #054f7d;
$pp-ltblue: #00a7cf;
$sp-yellow: #9e48ef;

//02. General
body {
  color: $color-body;
  font-size: 1rem;
  font-family: $primary-font;
  background-color: $bg-body;
  align-items: center;
  background-image: linear-gradient(to right, $pp-blue,$pp-ltblue,$sp-yellow,$pp-dark-blue,$pp-blue);
  background-size: 600%;
  background-position: 0 0;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}


@keyframes gradients {
    0%   {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100%  {background-position: 0 0;}
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


//03. Components
.custom-card{
    width: $card-width;
    padding: 50px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    h1.credit-card-component-title{
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .form-group{
        label{
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 4px;
        }
    }
}

.modalbox.success{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    border-radius: 5px;
    background: #fff;
    padding: 25px 25px 15px;
    text-align: center;
    .icon {
        -webkit-animation: fall-in 0.75s;
        -moz-animation: fall-in 0.75s;
        -o-animation: fall-in 0.75s;
        animation: fall-in 0.75s;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position: relative;
        margin: 0 auto;
        margin-top: -75px;
        background: #4caf50;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        i {
            position: absolute;
            font-size: 4em;
            color: #fff;
            text-align: center;
            padding-top: 20px;
            margin-left: -28px;
        }
    }
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  .change {
    clear: both;
    display: block;
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
  }
}
@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-moz-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-o-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-moz-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@-o-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}


//04. Custom
.form-control{
    border: none;
    border-bottom: solid 1px $border-color;
    border-radius: 0;
    padding-left: 0;
    &:focus{
        box-shadow: none;
        border-color: $border-color-focus;
    }
}

.form-select{
    border-radius: 0;
    border: none;
    border-bottom: solid 1px $border-color;
    &:focus{
        box-shadow: none;
        border-color: $border-color-focus;
    }
}

.bl-solid{
    border-left: solid 1px $border-color;
}

.form-select.is-valid:focus,
.was-validated .form-select:valid:focus,
.form-control.is-valid:focus, .was-validated .form-control:valid:focus{
    box-shadow: none;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus,
.form-select.is-invalid:focus, .was-validated .form-select:invalid:focus{
    box-shadow: none !important; 
}

.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 45px;
    padding-right: 45px;
    &:hover,
    &:focus,
    &:active{
        box-shadow: none !important;
        outline: none;
        background-color: darken($primary-color, 5%);
        border-color: darken($primary-color, 5%);
    }
}

.btn.disabled,
.btn:disabled, fieldset:disabled .btn {
    background-color: $primary-color;
    border-color: $primary-color;
    opacity: .5;
}

